name: Docker
on:
  push:
    branches:
    - master
    - docker

jobs:
  docker:
    name: Docker
    runs-on: ubuntu-latest
    strategy:
      matrix:
        arch: [ i686, x86_64 ]
        build_type: [ release, debug ]
    steps:

      - name: Set MXE build type
        run: echo "mxe_build_type=$(echo ${{matrix.build_type}} | tr '[:upper:]' '[:lower:]' | sed 's/.*/\u&/')" >> $GITHUB_ENV

      - name: Checkout
        uses: actions/checkout@v6

      - name: Add safe git directory
        run: git config --global --add safe.directory ${GITHUB_WORKSPACE}

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to DockerHub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_PASSWORD }}

      - name: Push to DockerHub
        uses: docker/build-push-action@v6
        with:
          file: ./docker/Dockerfile
          build-args: |
            MXE_TARGET=${{matrix.arch}}-w64-mingw32.shared
            MXE_BUILD_TYPE=${{env.mxe_build_type}}
          tags: jonaski/strawberry-mxe-${{matrix.arch}}-${{matrix.build_type}}:latest
          push: true
